.component__textfield {
    position: relative;

    height: 2rem;
    width: 18rem;

    &,
    & * {
        transition: 0.3s ease;
    }

    &:hover svg {
        color: var(--color-text);
    }

    &:has(input:focus) svg:first-child {
        color: var(--color-primary);
    }

    &:hover svg:last-child,
    &:has(input:focus) svg:last-child {
        opacity: 1;
        color: var(--color-text);
    }
}

.component__textfield svg {
    position: absolute;
    top: 50%;

    color: var(--color-text-muted);

    height: 1.5em;
    width: 1.5em;

    transform: translateY(-50%);

    &:first-child {
        pointer-events: none;
        left: 0.5em;
    }

    &:last-child {
        cursor: pointer;

        opacity: 0;
        right: 0.5em;
    }
}

.component__textfield input {
    background-color: transparent;

    height: 100%;
    width: 100%;

    padding: 0 2.25em;

    border: 2px solid var(--color-text);
    border-radius: 0.5em;

    outline: none;

    text-box-trim: trim-both;
}
