.highlights {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.highlights__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-surface);

    min-height: 25em;

    padding: 1em;

    border-radius: 0.5em;

    box-shadow: var(--shadow-light);
    transition: 0.3s ease;

    &:hover {
        box-shadow: var(--shadow-medium);
    }

    &:hover .highlights__card-graphics {
        scale: 1.25;
    }

    &:first-child {
        background-color: var(--color-accent-light);
    }

    &:nth-child(2) {
        background-color: var(--color-primary-light);
    }

    &:nth-child(3) {
        background-color: var(--color-secondary-light);
    }
}

.highlights__card h3 {
    font-family: var(--font-heading);
    font-size: 1.5rem;

    margin-top: 1em;
}

.highlights__card p {
    color: var(--color-text-muted);
    margin: 2em 1em 0 1em;
}

.highlights__card-graphics {
    height: 10em;
    width: 10em;

    transition: 0.3s ease-out;
}
